Repository thoroc/vscode-extension-autoloadX: changes, and which lefthook commands are due for each by the changed paths.
All: 1. lint-code, 2. format-code, 3. format-docs, 4. lint-docs, 5. lint-lockfile, 6. lint-unused-deps

lefthook.yml:

pre-commit:
  commands:
    '1. lint-code':
      glob: '*.{ts}'
      interactive: true
      run: 'npx eslint --fix {staged_files}'
      stage_fixed: true
    '2. format-code':
      glob: '*.{ts,yml,yaml,json}'
      interactive: true
      run: 'npx prettier --write {staged_files}'
      stage_fixed: true
    '3. format-docs':
      glob: '**/*.md,!**/.gitlab/merge_request_templates/*.md'
      interactive: true
      run: 'npx prettier --write {staged_files}'
      stage_fixed: true
    '4. lint-docs':
      glob: '**/*.md,!**/.gitlab/merge_request_templates/*.md'
      interactive: true
      run: 'npx markdownlint-cli2 --fix {staged_files}'
      stage_fixed: true
    '5. lint-lockfile':
      glob: 'package-lock.json'
      run: 'npx lockfile-lint --validate-https --path'
    '6. lint-unused-deps':
      glob: '*.{ts,js,json}'
      run: 'npx knip --report summary'

Update .bmad-core/agents/dev.md
  .bmad-core/agents/dev.md
Due: none

refactor(dev): streamline request resolution and workflow rules (#30)
  .bmad-core/agents/dev.md
  opencode.json
Due: 2. format-code, 6. lint-unused-deps

docs(prd): update acceptance criteria and checklist items
  docs/prd/11-epic-4-epic-release-to-github.md
  docs/prd/4-technical-assumptions-revised.md
  docs/prd/po-master-checklist.md
  docs/stories/3.4.story.md
  docs/stories/5.4.story-checklist.md
  docs/stories/6.6.story-checklist.md
  docs/stories/6.6.story.md
Due: none

Update docs/prd/11-epic-4-epic-release-to-github.md
  docs/prd/11-epic-4-epic-release-to-github.md
Due: none

docs(prd): update acceptance criteria and checklist items (#31)
  docs/prd/11-epic-4-epic-release-to-github.md
  docs/prd/4-technical-assumptions-revised.md
  docs/prd/po-master-checklist.md
  docs/stories/3.4.story.md
  docs/stories/5.4.story-checklist.md
  docs/stories/6.6.story-checklist.md
  docs/stories/6.6.story.md
Due: none

Add and align stories for Epic 7: GitHub Issue Manager
  docs/stories/7.1.story-checklist.md
  docs/stories/7.1.story.md
  docs/stories/7.2.story-checklist.md
  docs/stories/7.2.story.md
  docs/stories/7.3.story-checklist.md
  docs/stories/7.3.story.md
  docs/stories/7.4.story-checklist.md
  docs/stories/7.4.story.md
  docs/stories/7.5.story-checklist.md
  docs/stories/7.5.story.md
Due: none

t pushmegentlyAlign stories 7.1 to 7.5 with Epic 7 requirements and add checklists
  docs/prd/14-epic-7-managing-prd-stories-gh-issues.md
  docs/stories/7.1.story-checklist.md
  docs/stories/7.1.story.md
  docs/stories/7.2.story-checklist.md
  docs/stories/7.2.story.md
  docs/stories/7.3.story-checklist.md
  docs/stories/7.3.story.md
  docs/stories/7.4.story-checklist.md
  docs/stories/7.4.story.md
  docs/stories/7.5.story-checklist.md
  docs/stories/7.5.story.md
  package-lock.json
Due: 2. format-code, 5. lint-lockfile, 6. lint-unused-deps

Epic 7: GitHub Issue Manager Documentation (#33)
  docs/prd/14-epic-7-managing-prd-stories-gh-issues.md
  docs/stories/7.1.story-checklist.md
  docs/stories/7.1.story.md
  docs/stories/7.2.story-checklist.md
  docs/stories/7.2.story.md
  docs/stories/7.3.story-checklist.md
  docs/stories/7.3.story.md
  docs/stories/7.4.story-checklist.md
  docs/stories/7.4.story.md
  docs/stories/7.5.story-checklist.md
  docs/stories/7.5.story.md
  package-lock.json
Due: 2. format-code, 5. lint-lockfile, 6. lint-unused-deps
