Repository thoroc/vscode-extension-autoloadX: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint . --ext .ts,.js --fix
  stage: true

prettier:
  run: npx prettier --write
  stage: true

feat(ci): integrate lockfile-lint validation in CI workflow
  .github/workflows/ci.yml
  docs/using-lockfile-lint.md
  docs/using-prettier.md
  package-lock.json
  package.json
Due: prettier

chore: add markdownlint-cli2 for markdown linting
  .markdownlint.json
  docs/stories/6.4.story.md
  docs/using-markdownlint.md
  lefthook.yml
  package-lock.json
  package.json
Due: prettier

chore: add pkg dependency and format script to package.json
  .github/workflows/ci.yml
  docs/using-pkg.md
  package-lock.json
  package.json
Due: prettier

feat(ci): add ESLint and Prettier validation to CI pipeline
  .github/workflows/ci.yml
  docs/stories/6.1.story.md
  docs/stories/6.2.story.md
  docs/stories/6.3.story.md
  docs/using-markdownlint.md
  lefthook.yml
  package.json
  tsconfig.json
Due: prettier

chore: update package.json with new scripts and dependencies
  .github/workflows/ci.yml
  .prettierrc.json
  docs/stories/6.5.story.md
  package-lock.json
  package.json
Due: prettier

feat(ci): add Knip for unused file detection
  .github/workflows/ci.yml
  docs/using-knip.md
  package-lock.json
  package.json
Due: prettier

feat(docs): add story checklists for stories 6.1 to 6.6
  docs/stories/6.1.story-checklist.md
  docs/stories/6.2.story-checklist.md
  docs/stories/6.3.story-checklist.md
  docs/stories/6.4.story-checklist.md
  docs/stories/6.5.story-checklist.md
  docs/stories/6.6.story-checklist.md
Due: prettier

fix(package): update lockfile lint command to use correct host
  package.json
Due: none

Refactor documentation for clarity and consistency; update settings priority logic and CI/CD workflows
  docs/architecture.md
  docs/architecture/components.md
  docs/architecture/deployment-architecture.md
  docs/architecture/development-workflow.md
  docs/architecture/high-level-architecture.md
  docs/architecture/introduction.md
  docs/architecture/settings-priority.md
  docs/brief.md
  docs/ci-cd-workflow.md
  docs/prd/13-epic-6-quality-of-life.md
  docs/prd/2-requirements.md
  docs/prd/3-user-interface-design-goals-revised.md
  docs/prd/5-epic-list.md
  docs/prd/po-master-checklist.md
  docs/secret-management.md
  docs/stories/1.1.story-checklist.md
  docs/stories/1.1.story.md
  docs/stories/1.3.story-checklist.md
  docs/stories/1.4.story-checklist.md
  docs/stories/1.5.story-checklist.md
  docs/stories/3.1.story-checklist.md
  docs/stories/3.2.story-checklist.md
  docs/stories/3.3.story-checklist.md
  docs/stories/3.4.story-checklist.md
  docs/stories/3.5.story-checklist.md
  docs/stories/5.3.story-checklist.md
  docs/stories/5.4.story.md
  docs/stories/6.4.story-checklist.md
  package.json
Due: prettier

refactor(scripts): update formatting commands to use Prettier
  lefthook.yml
  package.json
Due: none

chore(package): remove unused prettier lint command
  package.json
Due: none

feat(docs): add pre-commit hook for unused dependencies
  docs/stories/6.6.story-checklist.md
  docs/stories/6.6.story.md
  lefthook.yml
Due: prettier

feat(tests): add unit tests for configuration and extension management
  jest.config.js
  test/mocks/vscode.ts
  test/unit/configurationService.test.ts
  test/unit/contextScanner.test.ts
  test/unit/extensionErrorHandler.test.ts
  test/unit/extensionManager.test.ts
  test/unit/recommendationEngine.test.ts
  test/unit/userInterfaceService.test.ts
Due: eslint, prettier

docs(workflow): clarify automated testing instructions and structure
  docs/architecture/development-workflow.md
Due: prettier

feat(tests): add default mappings for extension recommendations
  test/fixtures/defaultMappings.json
  test/unit/recommendationEngine.test.ts
Due: eslint, prettier

feat(eslint): migrate to new ESLint configuration
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
Due: eslint, prettier

ci: update Prettier command in CI workflow
  .github/workflows/ci.yml
  package.json
Due: none

fix(package): add missing newline at end of file
  package.json
Due: none

refactor(config): simplify interface declarations and update linting commands
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/services/configurationService.ts
  src/services/extensionErrorHandler.ts
  src/services/extensionManager.ts
  src/services/recommendationEngine.ts
  src/services/userInterfaceService.ts
Due: eslint, prettier

ci: remove package.json formatting validation step
  .github/workflows/ci.yml
Due: none

fix(package): update markdownlint command to exclude node_modules
  package.json
Due: none

chore(package): add npx prefix to script commands
  package.json
Due: none

ci: replace npx with npm run for commands in CI
  .github/workflows/ci.yml
  package.json
Due: none

ci: specify path for packaged extension artifact
  .github/workflows/ci.yml
Due: none

ci: reorder publish step in deployment workflow
  .github/workflows/deploy.yml
Due: none

docs(vulnerability-notes): clarify affected dependency for minimatch
  docs/vulnerability-notes.md
Due: prettier

feat(docs): expand user stories in epic list
  docs/prd/5-epic-list.md
Due: prettier

Fix: Add inputs for issue_title and issue_body to workflow
  .github/workflows/gemini-issue-automated-triage.yml
Due: none

Fix: Remove duplicate inputs for issue_title and issue_body
  .github/workflows/gemini-issue-automated-triage.yml
Due: none

feat(docs): add automated issue triage workflow details
  docs/architecture/development-workflow.md
Due: prettier

feat(5.4): Implement Gemini PR review workflow and update documentation
  docs/ci-cd-workflow.md
  docs/stories/5.4.story-checklist.md
Due: prettier

chore: update dependencies in package.json
  package-lock.json
  package.json
Due: none

fix(dependencies): downgrade vscode version to ^1.1.34
  package-lock.json
  package.json
Due: none

feat: Add @types/vscode dependency and clean up package.json
  .knip.json
  lefthook.yml
  package-lock.json
  package.json
Due: none

fix(package): update vscode engine version to ^1.78.0
  package.json
Due: none

feat(4.2): Implement automated GitHub release process
  .github/workflows/deploy.yml
  .gitignore
  .vscodeignore
  docs/ci-cd-workflow.md
  docs/prd/11-epic-4-epic-release-to-github.md
  docs/secret-management.md
  docs/stories/4.2.story-checklist.md
  docs/stories/4.2.story.md
Due: prettier

Update .vscodeignore
  .vscodeignore
Due: none

refactor(dev): streamline request resolution and workflow rules
  .bmad-core/agents/dev.md
Due: prettier

feat(mcp): add context7 configuration with command setup
  opencode.json
Due: none

Path conditions:
  eslint: any of: *.{ts,js}
  prettier: any of: *.{ts,js,md}
